header.header-area
  .container
    .header-wrap
      .header-top.d-flex.justify-content-between.align-items-center.navbar-expand-md
        .col.menu-left
          a.active(href='../views/rootpugsites/index.pug') Home
          a(href='menu.html') menu
          a(href='../views/rootpugsites/about.pug') about
        .col-3.logo
          a(href='../views/rootpugsites/index.pug')
            img.mx-auto(src='img/logo.png' alt='')
        nav.col.navbar.navbar-expand-md.justify-content-end
          // Toggler/collapsibe Button
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
            span.lnr.lnr-menu
          // Navbar links
          #collapsibleNavbar.collapse.navbar-collapse.menu-right
            ul.navbar-nav.justify-content-center.w-100
              li.nav-item.hide-lg
                a.nav-link(href='../views/rootpugsite/index.pug') Home
              li.nav-item.hide-lg
                a.nav-link(href='../views/rootpugsite/menu.pug') menu
              li.nav-item.hide-lg
                a.nav-link(href='../views/rootpugsite/about.pug') about
              // Dropdown
              li.nav-item.dropdown
                a#navbardrop.nav-link.dropdown-toggle(href='#' data-toggle='dropdown')
                  | Pages
                .dropdown-menu
                  a.dropdown-item(href='../views/rootpugsites/contact.pug') Contact
                  a.dropdown-item(href='../views/rootpugsites/elements.pug') Elements
              li.nav-item.dropdown
                a#navbardrop.nav-link.dropdown-toggle(href='#' data-toggle='dropdown')
                  | Blog
                .dropdown-menu
                  a.dropdown-item(href='../views/rootpugsites/blog-home.pug') Blog
                  a.dropdown-item(href='../views/rootpugsites/blog-single.pug') Blog Detail
              li.nav-item
                a.nav-link(href='../views/rootpugsites/gallery.pug') Gallery