doctype html
//if lt IE 7
//if IE 7
//if IE 8
// [if gt IE 8] <!
// <![endif]
head
  meta(charset='utf-8')
  title Rooftop Restaurant
  meta(name='description' content='')
  // Mobile Specific Meta
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // <link rel="shortcut icon" href="img/favicon.png">
  link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet')
  // Syntax Highlighter
  link(rel='stylesheet' type='text/css' href='syntax-highlighter/styles/shCore.css' media='all')
  link(rel='stylesheet' type='text/css' href='syntax-highlighter/styles/shThemeDefault.css' media='all')
  // Font Awesome CSS
  link(rel='stylesheet' href='css/font-awesome.min.css')
  // Normalize/Reset CSS
  link(rel='stylesheet' href='css/normalize.min.css')
  // Main CSS
  link(rel='stylesheet' href='css/main.css')
aside.left-sidebar
  .logo
    a(href='#welcome')
      img(src='img/logo.png' alt='')
  nav.left-nav
    ul#nav
      li.current
        a(href='#welcome') Welcome
      li
        a(href='#installation') Installation
      li
        a(href='#tmpl-structure') Structure
      li
        a(href='#css-structure') CSS Files
      li
        a(href='#javascript') JavaScript Libraries
      li
        a(href='#contact-form') Contact Form
      li
        a(href='#subscription-form') Subscription Form
      li
        a(href='#video') Video Tutorial
      li
        a(href='#credit') Source and Credit
#main-wrapper
  .main-content
    section#welcome
      .content-header
        h1 Rooftop Restaurant Landing Page
      .welcome
        h2.twenty Welcome To Rooftop Restaurant Landing Page
        p
          | Firstly, a huge thanks for purchasing this theme, your support is truly appreciated!
        p
          | This document covers the installation and use of this theme and often reveals answers to common problems and issues - read this document thoroughly if you are experiencing any difficulties. If you have any questions that are beyond the scope of this document, feel free to email at 
          code
            a(href='mailto:support@pixelcoder.net') support@pixelcoder.net
          |  Thank you so much!
      .features
        h2.twenty Template Features
        ul
          li Clean &amp; Simple Design
          li HTML5 &amp; CSS3
          li Fully Responsive Design
          li PHP/Ajax Powered Working Contact Form
          li All files are well commented
          li Cross Browser Compatible with IE11+, Firefox, Safari, Opera, Chrome
          li Extensive Documentation
    section#installation
      .content-header
        h1 Rooftop Restaurant Landing Page
      h2.title Installing Template.
      .section-content
        ol
          li
            | After unzip the download pack, you&apos;ll found a Template Folder with all the files.
          li
            | You can view this Template in any browser, you can display or edit the Template without an internet connection.(May not wotrk fonts and google map).
          li
            | The only section that will not work is the Contact Section which contains PHP code and requires a server environment for send messages.
          li
            | Now go to your cpanel or open your FTP Client (like 
            a(target='_blank' href='https://filezilla-project.org/download.php') Filezilla
            | ) and upload the content of the Template on your server root.
          li Once the files are done uploading go to www.yourdomainname.com/index.html
    section#tmpl-structure
      h2.title Template Structure
      p.fifteen
        | All information within the main content area is nested within a body tag. The general template structure is pretty the same throughout the template. Here is the general structure of main page (index.html).
      pre.html(class='brush:').
        \n\t\t                        
        
        \t\t                        
        
        \t\t                        
        \t\t                    
    section#css-structure
      h2.title CSS Files and Structure
      p.fifteen
        | These are the css files that are loaded into templates in 
        strong Head Section
        | .
      pre.html(class='brush:').
        \n\t\t                        
        \t\t\t\t\t\t        
        \t\t\t\t\t\t        
        \t\t\t\t\t\t        
        \t\t\t\t\t\t        
        \t\t\t\t\t\t        
        \t\t\t\t\t\t        
        \t\t\t\t\t\t        
        \t\t\t\t\t        
      h2.title Google Web Fonts
      p
        | By default, the template loads this font from Google Web Font Services, you can change the font with the one that suits you best.
      pre.(class='brush:html').
        \n\t\t                
        \t\t\t\t\t\t        
        \t\t                         
        \t\t                    
      p.twenty
        | Remember to change the font into 
        strong main.css
    section#javascript
      h2.title Javascript Files and Structure
      p.fifteen
        | These are the list of Javascript files that are loaded into templates in end of the 
        strong Body Section
        | .
        pre.html(class='brush:').
          \n\t\t\t\t                  
          \t\t\t\t\t\t          
          \t\t\t\t\t\t          
          \t\t\t\t\t\t          
          \t\t\t\t\t\t          
          \t\t\t\t\t\t          
          \t\t\t\t\t\t          
          \t\t\t\t\t\t          
          \t\t\t\t\t\t          
          \t\t                      
    section#contact-form
      h2.title  Contact Form 
      p
        | This is a PHP Script for sending messages to your email, you should replace 
        strong support@pixelcoder.net
        |  to your email to start receive messages.
      pre.(class='brush:php').
        \n\t                    $to = 'demo@spondonit.com'; // replace this mail with yours
        \t\t\t\t\t    $firstname = $_POST["fname"];
        \t\t\t\t\t    $email= $_POST["email"];
        \t\t\t\t\t    $headers = 'MIME-Version: 1.0' . "\r\n";
        \t\t\t\t\t    $headers .= "From: " . $email . "\r\n"; // Sender's E-mail
        \t\t\t\t\t    $headers .= 'Content-type: text/html; charset=iso-8859-1' . "\r\n";
        
        \t\t\t\t\t    $message ='        ';
        
        \t\t\t\t\t    if (@mail($to, $email, $message, $headers))
        \t\t\t\t\t    {
        \t\t\t\t\t        echo 'The message has been sent.';
        \t\t\t\t\t    }else{
        \t\t\t\t\t        echo 'failed';
        \t\t\t\t\t    }
        \t\t                    
    section#subscription-form
      h2.title  Subscription Form 
      p
        | Replace this action with your own mailchimp post URL. Don&apos;t remove the &quot;&quot;. Just paste the url inside &quot;&quot;.
      pre.javascript(class='brush:').
        \n\t\t\t\t                
        \t\t                    
    section#video
      h2.title  Video Tutorial 
      // 21:9 aspect ratio
      .embed-responsive.embed-responsive-21by9
        iframe.embed-responsive-item(width='100%' height='515' src='https://www.youtube.com/embed/i7_PRPLOxVE?rel=0&controls=0&showinfo=0' frameborder='0' allowfullscreen='')
    section#credit
      h2.title Source and Credit
      .script-source
        ul
          li
            a(target='_blank' href='http://www.pexels.com') Pexels
          li
            a(target='_blank' href='http://jquery.com/') jQuery
          li
            a(target='_blank' href='http://getbootstrap.com') Bootstrap Framework
          li
            a(target='_blank' href='http://www.owlgraphic.com/owlcarousel') Owl Carousel
          li
            a(target='_blank' href='https://github.com/iamMonzurul/jQuery-AJAX-MailChimp') Ajax Mailchimp
          li
            a(target='_blank' href='http://fontawesome.io/') FontAwesome
          li
            a(target='_blank' href='http://dimsemenov.com/plugins/magnific-popup/') Magnefic Pop Up
          li
            a(target='_blank' href='http://hernansartorio.com/jquery-nice-select/') Nice Select
          li
            a(target='_blank' href='https://linearicons.com/') Linear Icons
//
  Essential JavaScript Libraries
  ==============================================
script(type='text/javascript' src='js/jquery-1.11.0.min.js')
script(type='text/javascript' src='js/jquery.nav.js')
script(type='text/javascript' src='syntax-highlighter/scripts/shCore.js')
script(type='text/javascript' src='syntax-highlighter/scripts/shBrushXml.js')
script(type='text/javascript' src='syntax-highlighter/scripts/shBrushCss.js')
script(type='text/javascript' src='syntax-highlighter/scripts/shBrushJScript.js')
script(type='text/javascript' src='syntax-highlighter/scripts/shBrushPhp.js')
script(type='text/javascript').
  SyntaxHighlighter.all()
script(type='text/javascript' src='js/custom.js')
